.reports {
    &__blocks {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
        grid-auto-flow: row;
        grid-auto-rows: minmax(170px, auto);
        grid-gap: 15px;
        justify-content: center;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: url(../../../../assets/images/wallets/wallet-background.svg) no-repeat;
            object-fit: cover;
            background-size: 100%;
            width: 200px;

            .item-info {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                padding-top: 20px;
                gap: 8px;

                &__name {
                    font-size: 20px;
                    font-weight: 700;
                }

                &__balance {
                    font-weight: 600;
                    color: rgb(0, 0, 248);
                }

                &__transfer {
                    &--red {
                        font-size: 15px;
                        color: rgb(230, 0, 0);
                    }

                    &--green {
                        font-size: 15px;
                        color: rgb(11, 211, 11);
                    }
                }
            }

            .item-settings {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 15px;
                gap: 20px;

                &--edit {
                    width: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &--delete {
                    width: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 15px;

        @media (max-width: 800px) {
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            font-size: 30px;

            @media (max-width: 540px) {
                margin-bottom: 0;
            }
        }

        &__filters {
            display: flex;
            gap: 20px;

            @media (max-width: 800px) {
                flex-direction: column;
            }
        }
    }

    &-table {
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 20px;
        width: 70%;
        border-collapse: collapse;

        &:hover {
            cursor: default;
        }

        @media (max-width: 800px) {
            width: 95%;
        }
        @media (max-width: 630px) {
            display: none;
        }

        &__body {
            text-align: center;

            tr {
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 0 5px rgba(11, 80, 228, 0.534);
                }
                &:nth-child(2n + 1) {
                    background-color: rgba(0, 255, 255, 0.171);
                }
                &:nth-child(2n) {
                    background-color: rgba(0, 26, 255, 0.171);
                }
            }
        }

        &__mob {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 15px 0;
            background-color: rgba(0, 0, 255, 0.233);
            border-radius: 20px;
            padding: 5px 20px;

            @media (min-width: 630px) {
                display: none;
            }

            &--name {
                display: flex;
                flex-direction: column;

                .place {
                    font-family: "Mulish";
                    font-weight: 800;
                    font-size: 20px;
                }

                .category {
                    font-weight: 500;
                    font-size: 13px;
                    font-stretch: ultra-expanded;
                    color: rgb(141, 141, 141);
                    margin-top: 5px;
                    text-transform: uppercase;
                }
            }

            &--transfer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .transfer {
                    font-family: "Mulish";
                    font-size: 20px;

                    &--green {
                        color: rgb(17 186 14);
                    }

                    &--red {
                        color: red;
                    }

                    &__date {
                        font-weight: 500;
                        font-size: 15px;
                        font-stretch: ultra-expanded;
                        color: rgb(141, 141, 141);
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
