.black-layout {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgb(0 0 0 / 40%);
    z-index: 2;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    border: none;
    top: 40%;
    padding: 30px 15px 15px;
    width: 300px;
    border-radius: 20px;

    &__close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 25px;
        width: 25px;

        background-repeat: no-repeat;
        background-image: url(../../../../assets/images/close_icon.svg);

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        margin: 0 0 15px;
        max-width: 70%;
    }

    &__sum {
        margin: 15px 0;
        max-width: 70%;
    }

    &__balance {
        font-size: 40px;
        font-family: "Gilroy";
        color: blue;
    }

    .btn-box {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 15px;

        .btn {
            background-color: #fff;
            border-radius: 10px;
            border: 2px solid rgb(17, 0, 255);
            width: 120px;
            height: 30px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 5px grey;
            }
        }
    }
}

.disabled {
    border: 2px solid rgb(133 133 133) !important;
    color: grey;

    &:hover {
        cursor: default !important;
        box-shadow: none !important;
    }
}

.edit {
    &__input {
        margin-bottom: 20px;
        max-width: 250px;
        border-radius: 10px;
        border-color: rgba(128, 128, 128, 0.199);
        padding: 0 10px;
        width: calc(100% - 20px);
        height: 23px;
    }

    &__btn {
        background-color: rgba(0, 0, 255, 0.705);
        border-radius: 10px;
        border: 2px solid rgb(17, 0, 255);
        width: 120px;
        height: 30px;
        text-transform: uppercase;
        color: #fff;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px grey;
        }
    }
}

.delete {
    &__title {
        margin-bottom: 15px;
    }

    &__btn {
        background-color: rgba(0, 0, 255, 0.705);
        border-radius: 10px;
        border: 2px solid rgb(17, 0, 255);
        width: 120px;
        height: 30px;
        text-transform: uppercase;
        color: #fff;
        margin-right: 15px;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px grey;
        }
    }
}
