@import './mixins.scss';

#app {
    @include get_fonts("Helvetica Neue");
}

p {
    margin: 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

main {
    padding: 0;
    height: calc(100vh - 60px);
}

tr {
    height: 40px;
}

thead {
    background-color: rgba(0, 217, 255, 0.575);
}

input {
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.199);
    padding: 0 10px;
    max-width: 300px;
    height: 23px;

    @media (max-width: 540px) {
        width: 280px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

:root {
    --primary: #6979f8;
    --primary-hover: #A5AFFB;
    --second: #BE52F2;
    --second-hover: #DBA5F5;
    --success: #00C48C;
    --success-hover: #7DDFC3;
    --info: #004df4;
    --info-hover: #66B5F8;
    --warning: #FFA26B;
    --warning-hover: #FFC7A6;
    --danger: #FF647C;
    --danger-hover: #FDAFBB;
}